body {
    background-color: rgb( 100, 100 ,51);
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
p {
    background-color: azure;
    padding: 10px;
}
h1  {
    color: azure;
    
   text-shadow: -2px 5px black;
}
h3{
    color: white;
    text-shadow: -2px 5px black;
}
 a.link{
     text-decoration: none;
     color: yellow;
 }
 a.hover{
    text-decoration: underline;
    color: yellow;
}
li{
    color: azure;
}
.datalist{
 color: yellow;
}
dt{
    color:white;
}
 hr{
     color: black;
 }


.movies {
    text-decoration: none;
}
.movies:link {
    color: yellow;
}
.movies:visited {
    color: white;
    background-color:black;
}
.movies:hover {
    color: yellow;
    text-decoration: underline;
}


